main:has(#credits_page)~footer .footer-content {
    width: calc(100% - var(--sidebar-width) - var(--info-card-width));
}

@media screen and (max-width: 800px) {
    main:has(#credits_page)~footer .footer-content .footer-logos,
    main:has(#credits_page)~footer .footer-content .footer-icons {
        gap: 12px;
    }

    main:has(#credits_page)~footer .footer-content .footer-icons a .footer-icon{
        font-size: 16px;
    }

    main:has(#credits_page)~footer .footer-content .footer-logos .footer-logo{
        height: 40px;
    }

}

@media screen and (max-width: 600px){
    main:has(#credits_page)~footer .footer-content {
        width: calc(100% - var(--info-card-width));
    }
}

@media screen and (max-width: 400px){
    main:has(#credits_page)~footer .footer-content {
        width: calc(100%);
    }
}