.bootcamps-card{
    background-color: var(--light-gray);
    width: 278px;
    height: 450px;
    position: relative;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: background-color 1s ease;
}

.dark .bootcamps-card{
    background-color: var(--dark-slate);
}

.bootcamps-card-image img{
    border-radius: 15px 15px 0 0 ;
}

.bootcamps-card-label ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.bootcamps-card-label li{
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 1s ease;
    background-color: var(--turquoise);
    color: #fff;
    padding: 3px 10px;
    border-radius: 5px;
}

.dark .bootcamps-card-label li {
    background-color: var(--slate-blue);
}

.bootcamps-card-title h3{
    color: var(--turquoise);
    margin-left: 15px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 300;
}
.bootcamps-card-description{
    margin-top: 20px;
    margin-left: 15px;
    text-align: justify;
    transition: color 1s ease;
    width: 90%;
    color: var(--dark-slate);
    font-size: 15px;
}

.dark .bootcamps-card-description{
    color: var(--light-gray);
}
.bootcamps-card-info{
    margin-top: 20px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transition: color 1s ease;
    gap: 5px;

}


.dark .bootcamps-card-info{
    color: var(--light-gray);
}
.bootcamps-card-info-icon{
    color: var(--turquoise);
    font-size: 20px;
    flex-shrink: 0;
}

.bootcamps-card-info-location{
    width: 80%;
}



.bootcamps-card-info-location,
.bootcamps-card-info-date,
.bootcamps-card-info-time{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.bootcamps-card-button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    
    outline: none;
}

.bootcamps-card-button p{
    background-color: var(--turquoise);
    min-width: 90px;
    transition: background-color 1s ease,border 1s ease,color 1s ease;
    text-align: center;
    padding: 5px 15px;
    margin-top: 20px;
    border-radius: 5px;
    
    color: var(--pure-white);
    cursor: pointer;
  
}


.bootcamps-card-button p:hover{
    background-color: transparent;
    color: var(--dark-slate);
    border: 1px solid var(--turquoise);
}

.dark  .bootcamps-card-button p:hover{
    color: var(--light-gray);
}


.modal{
    position: relative;
    width: 756px;
    height: 800px;
    border: none;
    outline: none;
    background: var(--light-gray);
    box-shadow: 0 0 15px rgba(#000,.15);
    border-radius: 15px;
    padding: 50px;
    transition: background-color 1s ease;
}

.dark .modal{
    background-color: var(--dark-slate);
}

.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
}

.bootcamps-modal-cls-btn{
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: transparent;   
    border: none;
    outline: none;
    font-size: 30px;
    cursor: pointer;
    color: var(--turquoise);
   
}
.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    gap: 50px;
    margin-top: 50px;
}

.form-container input{
    height: 30px;
    border: none;
    border-radius: 10px;
    outline: none;
    padding: 15px;
    
}

.dark .form-container input{

    
}
.bootmcaps-modal-title h3{
    text-align: center;
    color: var(--turquoise);   
    font-size: 35px;
    font-weight: 300;

}
.bootcamps-modal-btn{
    text-align: center;
    margin-top: 10%;
}
.bootcamps-modal-btn button{
    border: 1px solid transparent;
    outline: none;
    cursor: pointer;
    background-color: var(--turquoise);
    height: 40px;
    width: 256px;
    border-radius: 5px;
    color: #fff;
    transition: background-color 1s ease,color 1s ease,border 1s ease;
}

.dark  .bootcamps-modal-btn button:hover{
    color: var(--pure-white);
}
.bootcamps-modal-btn button:hover{
    border: 1px solid var(--turquoise);
    color: var(--dark-slate);
    background-color: transparent;
}