/* src/components/Pagination/Pagination.css */

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 8px;
}

.page-number {
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid #00a9b8;
    color:#00a9b8;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.page-number.active,
.page-number:hover {
    background-color: #00a9b8;
    color: white;
}
