.selectFilter {
    position: relative;
    width: 200px;
    height: 48px;
    background-color: var(--light-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s ease, color 0.5s ease;
    border-radius: 4px 4px 0 0;
    list-style: none;
    cursor: pointer;
}

.option ul li {
    list-style: none;
}

.select i {
    position: absolute;
    top: 12px;
    right: 3px;
    border: none;
    outline: none;
    font-size: 24px;
}

.dark .selectFilter {
    background-color: var(--dark-slate);
    color: var(--pure-white);
}

.option {
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    background-color: var(--light-gray);
    transition: background-color 0.5s ease, color 0.5s ease, opacity 0.5s ease;
    width: 200px;
    padding: 8px;
    top: 48px;
    border-radius: 0 0 3px 3px;
}

.option.active {
    pointer-events: auto;
    opacity: 1;
}

.option ul li {
    margin-bottom: 20px;
    cursor: pointer;
    text-align: center;
    /* transition: color 0.3s ease; */
}

.option ul li:last-child{
    margin-bottom: 4px;
}

.option ul li:hover {
    color: var(--turquoise);
}

.dark .option {
    background-color: var(--dark-slate);
    color: #fff;
}