*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    /* Color Palatte */

    --dark-slate:#16222C;
    --slate-blue:#293C4D;
    --pure-white:#ffff;
    --footer-text:#ACA6A6;
    --light-gray:#eeee;
    --turquoise: #00A9B8;
    --home-text:#CACACA;
    --footer-icon:#ACA6A6;

    /* HomePage font size */
    --home-title:32px;
    --section-title:40px;
    --section-text:20px;
    --section-list:16px;

    --sidebar-width:100px;

    --feedback-star: 40px;

}

body{
    transition: background-color 0.5s ease, color 0.5s ease;
}
.dark{
    background-color: var(--slate-blue);
}
.light{
    background-color: var(--pure-white);
}
main{
  width: 100%;
}
.sidebar-margin{
    margin-left: 100px;
    width: calc(100% - 100px);
}

@media screen and (max-width:1200px) {
    :root{
        /* HomePage font size */
        --home-title:28px;
        --section-title:36px;
        --section-text:16px;
        --section-list:16px;

        --feedback-star: 32px;
    }
}

@media screen and (max-width:800px) {
    :root{
        /* HomePage font size */
        --home-title:20px;
        --section-title:28px;
        --section-text:14px;
        --section-list:14px;

        --feedback-star: 24px;
    }
}

@media screen and (max-width:600px) {
    :root{
        /* HomePage font size */
        --home-title:18px;
        --section-title:24px;
        --section-text:12px;
        --section-list:12px;

        --feedback-star: 20px;
    }
}

@media screen and (max-width:400px) {
    :root{
        /* HomePage font size */
        --home-title:14px;
        --section-title:16px;
        --section-text:10px;
        --section-list:10px;

        --feedback-star: 20px;
    }
}