@font-face {
    font-family: 'Big Shoulders';
    src: url('../fonts/Big_Shoulders/BigShoulders_VariableFont.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    /* Color Palatte */

    --dark-slate:#16222C;
    --slate-blue:#293C4D;
    --pure-white:#ffff;
    --footer-text:#ACA6A6;
    --light-gray:#eeee;
    --turquoise: #00A9B8;
    --home-text:#CACACA;
    --footer-icon:#ACA6A6;

    /* HomePage font size */
    --home-title:32px;
    --section-title:40px;
    --section-text:20px;
    --section-list:16px;

    --sidebar-width:100px;

    --feedback-star: 40px;

    --info-card-width: 400px;
}

body{
    transition: background-color 0.5s ease, color 0.5s ease;
    /* font-family: Garamond, serif; */
    font-family: "Big Shoulders";
    color: var(--dark-slate);
}

.dark{
    background-color: var(--slate-blue);
    color: var(--pure-white);
}

.light{
    background-color: var(--pure-white);
}

main{
  width: 100%;
}

section{
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    background-color: var(--pure-white);
    color: var(--dark-slate);
    font-size: var(--section-text);
}

section:nth-child(2n){
    background-color: var(--light-gray);
}

.dark section{
    background-color: var(--dark-slate);
    color: var(--pure-white);
}

.dark section:nth-child(2n){
    background-color: var(--slate-blue);
}

section .section-content{
    position: relative;
    top: 0;
    left: var(--sidebar-width);
    width: calc(100% - var(--sidebar-width));
    padding: 36px;
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

section .section-content.vertical-content{
    flex-direction: column;
}

h2{
    font-size: var(--section-title);
    color: var(--turquoise);
}

section .section-content .image-content,
section .section-content .text-content{
    width: 50%;
}

section .section-content .image-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

section .section-content img{
    width: clamp(240px, 100%, 600px);
    height: auto;
    max-height: 400px;
    border-radius: 8px;
}

button{
    background-color: var(--turquoise);
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid var(--turquoise);
    font-size: var(--section-list);
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    max-width: 200px;
    transition: background-color 1s ease, color 1s ease, border 1s ease;
}

button:hover {
    background-color: transparent;
    color: var(--turquoise);
}

button:disabled{
    cursor: not-allowed;
}

.instagram-icon:hover{
    color: #F56040;
}

.twitter-icon:hover{
    color: #1DA1F2;
}

.github-icon:hover{
    color: #2dba4e;
    color: #0e76a8;
}

.youtube-icon:hover{
    color: #FF0000;
}

.linkedin-icon:hover{
    color: #0e76a8;
}

.website-icon:hover{
    color: #1DA1F2;
    color: #0e76a8;
}

.Toastify__toast.Toastify__toast--default,
.Toastify__toast.Toastify__toast--info{
    background: var(--turquoise);
    color: var(--pure-white);
    font-size: 16px;
}

.Toastify__toast.Toastify__toast--error{
    background: #ff8181;
    color: var(--pure-white);
    font-size: 16px;
}


.Toastify__toast.Toastify__toast--default button,
.Toastify__toast.Toastify__toast--info button,
.Toastify__toast.Toastify__toast--error button{
    color: white;
    opacity: 1;
    border-radius: unset;
    width: unset;
    max-width: unset;
}

.Toastify__toast.Toastify__toast--info svg,
.Toastify__toast.Toastify__toast--error svg{
    fill: var(--pure-white);
}

@media screen and (max-width:1400px) {
    :root{
        /* HomePage font size */
        --home-title:28px;
        --section-title:36px;
        --section-text:16px;
        --section-list:16px;

        --feedback-star: 32px;

        --info-card-width: 300px;
    }
}

@media screen and (max-width:1200px) {
    :root{
        /* HomePage font size */
        --home-title:28px;
        --section-title:36px;
        --section-text:16px;
        --section-list:16px;

        --feedback-star: 32px;

        --info-card-width: 240px;
    }

    section .section-content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 36px 0;
    }

    section .section-content .image-content,
    section .section-content .text-content{
        width: 90%;
    }
}

@media screen and (max-width:800px) {
    :root{
        /* HomePage font size */
        --home-title:20px;
        --section-title:28px;
        --section-text:14px;
        --section-list:14px;

        --feedback-star: 24px;

    }
}

@media screen and (max-width:600px) {
    :root{
        /* HomePage font size */
        --home-title:18px;
        --section-title:24px;
        --section-text:12px;
        --section-list:12px;

        --feedback-star: 20px;

        --info-card-width: 160px;
    }

    section .section-content{
        left: 0;
        width: 100%;
    }
}

@media screen and (max-width:400px) {
    :root{
        /* HomePage font size */
        --home-title:14px;
        --section-title:16px;
        --section-text:10px;
        --section-list:10px;

        --feedback-star: 20px;
    }
}