@import url('https://fonts.googleapis.com/css2?family=Numans&display=swap');

.welcome-section {
    height: 100vh;
    background-image: url("../../assets/images/background.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    user-select: none;
}

.dark .welcome-section{
    filter: contrast(1.5);
}

.welcome-content {
    position: relative;
    top: 0;
    left: var(--sidebar-width);
    width: calc(100% - var(--sidebar-width));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0;
}

.welcome-logo img {
    max-width: 344px;
    filter: drop-shadow(0px 0px 1px white);
}

.welcome-description {
    font-size: var(--home-title);
    font-family: "Numans",sans-serif;
    text-align: center;
    width: 60%;
    color: var(--home-text);
    margin-top: 20px;
}

.welcome-description p{
    padding-bottom: 0 !important;
    filter: drop-shadow(0px 0px 0px white);
}

.welcome-content .arrow-down{
    position: relative;
    top: 72px;
    color: var(--home-text);
    width: 72px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 20px white);
}

.welcome-content .arrow-down svg{
    animation: topDown 1s linear infinite;
    filter: drop-shadow(0px 0px 5px white);
    font-size: 72px;
}

@keyframes topDown {
    from{
        position: relative;
        top: -10px;
    }
    to{
        position: relative;
        top: 10px;
    }
}

@media screen and (max-width: 800px){
    .welcome-logo img {
        max-width: 200px; 
    }
    .welcome-content .arrow-down svg{
        font-size: 36px;
    }
}


@media screen and (max-width: 600px){
    .welcome-content{
        left: 0;
        width: 100%;
    }
}


@media screen and (max-width: 400px){
    .welcome-logo img {
        max-width: 160px; 
    }
}