.card {
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    width: 100%; 
    max-width: 350px; 
    height: 150px;
  }  
  .card:hover {
    transform: translateY(-5px);
  }
  .card p{
    font-size: 12px;
  }
  .card-image {
    width: 40%;
    height: 100%;
    border-radius: 5px;
    clip-path: polygon(0 0, 100% 0, 40% 100%, 0% 100%);
    object-fit:fill;
    float: inline-start; 
  } 
  .card-logo{
    float:right;
    margin-right: 10px;
    width: 30px;
    height: auto; 
    object-fit: contain; 
  }   
  .card-content{
    display: flex;
    align-items: center; 
    flex-direction: column;   
    margin-top: 20px; 

  }
  .card-links a {
    margin-bottom: 25px;
    margin-right: 8px;
    font-size: 25px;
    color: #000;
  }
  /*dark mode*/

  .card.dark-mode{
    background-color: #16222c;
  }
  .card.dark-mode p{
    color:#fff;
  }
  .card-links.dark-mode a {
    color: #fff;
  }

  