

.third-content{
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
    height: 100vh;
    
}
.thirdImage  {
    margin-top: 219px;
}

.thirdImage img{
    border-radius: 15px;

  
}
.thirdText{
    margin-top: 219px;
    margin-left: 150px;
    
}

.thirdText .thirdHeader{
    color: var(--turquoise);
    font-size: 35px;
   
}

.thirdText p{
    line-height: 1.9rem;
    font-size: 19px;
    margin-top: 20px;
    text-align: justify;
    width: 80%;
    transition: color 1s ease;
    
}
.dark .thirdText p{
    color: #fff;
}

