.education-card{
    width: 600px;
    height: 260px;
    background-color: var(--light-gray);
    border: 1px solid var(--light-gray);
    border-radius: 10px; 
    position: relative;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.education-card-wrap{
    display: flex;
    height: 100%;
}

.dark .education-card{
    background-color: var(--dark-slate);
    border: 1px solid var(--dark-slate);
}

.educator-image img {
    clip-path: polygon(0 0, 100% 0, 50% 100%, 0 100%);
    border-radius: 10px 0 0 10px;
    height: 100%;
    width: 200px;
}

.education-card-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
    padding: 16px 0;
}

.education-card-title {
    font-size: var(--section-text);
    text-align: center;
    color: var(--turquoise);
}

.education-content,
.education-date,
.education-location,
.education-last-date,
.education-educator {
    display: flex;
    align-items: flex-start;
}

.education-content h4,
.education-date h4,
.education-location h4,
.education-last-date h4,
.education-educator h4 {
    font-size: var(--section-list);
    flex-shrink: 0;
    width: 90px;
    color: var(--turquoise);
}

.education-content span,
.education-date span,
.education-last-date span,
.education-location span,
.education-educator span {
    font-size: var(--section-list);
    transition: color 0.5s ease, color 0.5s ease;
}

/* .education-last-date {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    position: absolute;
    left: 164px;
    bottom: 8px;
    color: darkred;
} */

.education-button {
    position: absolute;
    bottom: 12px;
    right: 12px;
}

.dark .education-content span,
.dark .education-date span,
.dark .education-location span,
.dark .education-educator span {
    color: var(--light-gray);
}

.education-last-date span {
    color: darkred;
}

.education-last-date h4 {
    color: darkred;
}

.dark .education-last-date span {
    color: #ff8181;
}

.dark .education-last-date h4 {
    color: #ff8181;
}

.education-card-inner-content{
    padding-left: 4px;
}

@media screen and (max-width: 720px) {
    .education-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: unset;
    }

    .education-card-wrap{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 12px;
    }

    .educator-image{
        display: none;
    }

    .education-button{
        position: unset;
    }
    
}