nav{
    width: 100vw;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    background-color: whitesmoke;
}

nav img#nav-logo{
    width: 24px;
    height: 24px;
}

nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

nav ul li a{
    text-decoration: none;
    color: var(--cerulean);
    font-weight: bold;
}

nav ul li a:hover{
    color: var(--lapis-lazuli);
    text-shadow: 0 0 5px var(--lapis-lazuli);
}