.discord-section {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 600px;
}


.discord-section::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: var(--light-gray);
  z-index: -1;
  transition: background-color 1s ease;
  clip-path: polygon(70% 0, 0 0, 0 100%, 45% 100%);
}


.discord-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  transition: background-color 1s ease;
  background-color: #919AF2;
}

.dark  .discord-section::after {
  background-color: var(--slate-blue);
}
.dark  .discord-section::before {
  background-color: #5865F2;
}

.discord-section-leftSide {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  margin-left: 70px;
}

.discord-section-leftSide .left-side-title {
  font-size: 25px;
  font-weight: 300;
  color: var(--turquoise);
  letter-spacing: 1px;
}

.discord-section-leftSide .left-side-description {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.5rem;
  transition: color 1s ease;
}

.dark .discord-section-leftSide .left-side-description{
  color: #fff;
}

.discord-section-rightSide{
  position: relative;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 88%;
 
  margin-top: 70px;
  
  
}

.discord-section-rightSide .discord-icon
{
  margin-left: 200px;

  font-size: 150px;
}

.discord-section-rightSide .rightSide-title{
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #293C4C;
  margin-left: 180px;
  
  
}

.discord-section-rightSide .rightSide-title span{
  font-size: 30px;
  height: 25px;
}

.rightSide-description{
  max-width: 90%;
  text-align: left;
  margin-top: 20px;
  margin-left: 300px;
  font-size: 18px;
  line-height: 1.5rem;
  overflow-wrap: break-word; 
  padding-right: 10px; 
  color: #fff;
}

.discord-invite-link{
  position: absolute;
  bottom: 0;
  padding: 15px;
  font-size: 15px;
  left: 20px;
  color: #000;
}

.discord-invite-link a{
  text-decoration: none;
  color: #fff;
}

.rightSide-ataseng-logo {
  position: absolute;
  right: 0;
  color: #fff;
  font-style: italic;
  font-weight: 200;
  bottom: 0;
  padding: 15px;
}