article.result-card{
    padding: 24px;
    width: 400px;
    min-width: 350px;
    height: 240px;
    background-color: var(--yinmn-blue);
    border-radius: 8px;
}

article.result-card h5.place{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    fill: white;
    color: white;
}

article.result-card div.team-info{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
}

article.result-card div.team-info h5.team-name{
    font-size: 1.5rem;
    color: white;
}

article.result-card div.team-info div.team-members{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    color: white;
    font-size: 1.25rem;
}

article.result-card div.team-info div.team-members a{
    text-decoration: none;
    color: white;
    fill: white;
}

article.result-card div.team-info div.team-members a:hover{
    fill: var(--cerulean);
    text-shadow: 0 0 5px white;
}

article.result-card div.team-info div.team-members p{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}