.management-section{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--light-gray);
}

.dark .management-section{
    background-color: var(--slate-blue);
}

.management-content{
    position: relative;
    top: 0;
    left: var(--sidebar-width);
    width: calc(100% - var(--sidebar-width));
    height: 100%;
    padding: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 1s ease;
    gap: 16px;
}

.dark .management-content{
    background-color: var(--slate-blue);
}

.management-side{
    width: 45%;
}
.management-content .management-side .management-title h2{
    font-size: var(--section-title);
    color: var(--turquoise);
    font-weight: 300;
}

.management-content .management-side .management-description{
    margin-top: 32px;
    text-align: left;
    transition: color 1s ease;
    line-height: 1.5rem;
    text-align: justify;
    font-size: var(--section-text);
}

.dark .management-content .management-side .management-description{
    color: var(--pure-white);
}

.form-content{
    /* background-color: var(--pure-white); */
    width: 45%;
    transition: background-color 1s ease;
    border-radius: 5px;
    border: 1px solid var(--turquoise);
    /* padding: 16px 32px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark .form-content{
    background-color: var(--dark-slate);
}

.form-side{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.management-content .form-side form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 24px; */
    gap: 24px;
}

.form-side form .input-area{
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: none;
    gap: 60px;
    width: 100%;
}

.form-side input, .form-side select{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--turquoise);
    background-color: transparent;
    outline: none;
    width: 75%;
    font-size: var(--section-text);
    color: var(--dark-slate);
}

.dark .form-side input{
    color: var(--pure-white);
}

.dark .form-side select{
    color: var(--pure-white);
}

.dark .form-side select option{
    background-color: var(--turquoise);
}

.managament-section-btn{
    text-align: center;
}

.managament-section-btn button{
    margin-top: 20px;
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: var(--turquoise);
    color: var(--pure-white);
    cursor: pointer;
    transition: background-color 1s ease,color 1s ease,border 1s ease;
    font-size: var(--section-text);
}

.managament-section-btn button:hover{
    background-color: transparent;
    border: 1px solid var(--turquoise);
    color: var(--dark-slate);
}

.dark .managament-section-btn button:hover{
    color: var(--pure-white);
}

.managament-section-btn button:disabled{
    cursor: not-allowed;
}

.form-side .recruitment-not-active{
    font-size: var(--section-text);
    color: darkred;
    font-weight: bold;
    text-align: center;
}

.dark .form-side .recruitment-not-active{
    color: #ff8181;
}

.sponsor-part{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--light-gray);
    transition: background-color 1s ease,color 1s ease;
}
.dark .sponsor-part{
    background-color: var(--slate-blue);
    color: #e2dfdf;
}
.description-side{
    width: 40%;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    font-size: 17px;
    line-height: 1.7;
    text-align: justify;
}

.sponsor-image-side {
    background: url(../../assets/images/sponsorSection.jpg) no-repeat center;
    width: 49%;
    height: 300px;
}
.visit-github-link{
    margin-top: 30px;
}
.visit-github-link a{
    border: 1px solid var(--turquoise);
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(163, 161, 161);
    text-decoration: none;
    
}

@media screen and (max-width:1200px) {
    .management-content{
        flex-direction: column;
        justify-content: space-evenly;
    }

    .management-side{
        width: 90%;
    }

    .form-content{
        width: 90%;
    }
}

@media screen and (max-width:800px) {
    .management-section .management-content{
        padding: 36px 0;
    }

    .form-side form .input-area{
        gap: 32px;
    }

    .form-side input{
        width: 100%;
    }

    .managament-section-btn button{
        width: 100px;
        height: 32px;
    }

}

@media screen and (max-width:600px) {
    .management-content{
        left: 0;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        gap: 24px;
    }
}

@media screen and (max-width:400px) {

    .managament-section-btn button{
        width: 80px;
        height: 24px;
    }
}