.contributor-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: clamp(120px, 50%, 300px);
}

.contributor-card .contributor-image {
    width: 100%;
    object-fit: contain;
}

.contributor-card .contributor-social{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-size: var(--section-text);
    margin-top: 12px;
}

.contributor-card .line {
    width: 100%;
    height: 1px;
    background-color: #00A9B8;
    margin-top: 12px;
}

.contributor-card h3 {
    color: #00A9B8;
    margin-top: 8px;
    font-size: var(--section-text);
    text-align: center;
}

.contributor-card p{
    font-size: var(--section-text);
}

/* Dark mode */
.dark p{
    color: #fff;
}
.dark .bio p{
    color: #fff;
}

/* @media (max-width:1200px){
    .contributor-card{
        display: flex;
        flex-direction: column;
    }
} */

/* Resposive */
@media (max-width:800px){

    .contributor-card{
        width: fit-content;
    }
    .contributor-card .contributor-image{
        width: 120px;
    }

    .contributor-card h3,
    .contributor-card p{
        font-size: 12px;
    }
    .contributor-card .contributor-social{
        font-size: 16px;
    }
}
