.sidebar {
    width: var(--sidebar-width);
    height: 100vh;
    text-align: center;
    background-color: rgba(110, 112, 114, 0.1);
    padding: 0px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(30px);
    z-index: 1001;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar ul li {
    width: 100%;
    margin: 10px 0px;
    position: relative;
}

.sidebar ul li a {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    padding: 10px 0px;
    text-decoration: none;
    color: #6e7072;
    width: 100%;
    text-align: center;
    align-items: center;
    transition: background-color 0.3s;
}

/* Hover effect for links in the sidebar */
.sidebar ul li a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

/* Submenu styling */
.sidebar .menu-item {
    position: relative;
}

.sidebar .submenu {
    display: none;
    position: absolute;
    top: -30px;
    left: 100px;
    width: 160px;
    background-color: rgba(110, 112, 114, 0.1);
    z-index: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    backdrop-filter: blur(30px);
    border-radius: 0px 4px 4px 0px;
}

/* Show submenu on hover */
.sidebar .menu-item:hover .submenu {
    display: flex;
}

/* Submenu links styling */
.sidebar .submenu a {
    color: #6e7072;
    text-decoration: none;
    display: flex;
    width: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    transition: background-color 0.3s;
}

/* Hover effect for submenu links */
.sidebar .submenu a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

/* Dark mode styling for the sidebar */
.dark .sidebar{
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

.dark .sidebar .submenu{
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
}

.dark .sidebar ul li a {
    color: #fff;
}

.dark .sidebar ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* Dark mode styling for submenu */
.sidebar .submenu {
    background-color: rgba(255, 255, 255, 0.9);
}

.dark  .sidebar.submenu a {
    color: #fff;
}

.dark .sidebar .submenu a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* Icon styling in the sidebar */
.sidebar .icon {
    font-size: 20px;
    color: #6e7072;
    transition: color 0.3s, transform 0.3s;
    cursor: pointer;
}

/* Hover effect for icons */
.sidebar li:hover .icon{
    transform: scale(1.1);
}

/* Dark mode styling for icons in the sidebar */
.dark .sidebar a,
.dark .sidebar .icon {
    color: #fff;
}

/* Styling for moon and sun icons */
.sidebar .icon.moon-sun {
    margin-top: 20px;
    font-size: 25px;
    color: #6e7072;
    transition: none;
    width: 100%;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar .icon.moon-sun:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

.dark .icon.moon-sun:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* Dark mode styling for moon and sun icons */
.dark .sidebar .icon.moon-sun {
    color: #fff;
}

/* .sidebar .icon.moon-sun:hover,
.sidebar .icon.moon-sun:focus,
.sidebar .icon.moon-sun:active {
    background-color: transparent !important;
}

.sidebar .icon.moon-sun:hover span,
.sidebar .icon.moon-sun:focus span,
.sidebar .icon.moon-sun:active span {
    background-color: transparent;
    color: inherit;
} */

/* Hamburger menu icon styling for mobile */
.hamburger-menu-icon {
    display: none;
}

/* Mobile menu */
.hamburger-menu {
    display: none;
}

/* Responsive styling for mobile devices */
@media (max-width: 600px) {
    .sidebar {
        display: none;
    }

    /* Hamburger menu icon display and positioning */
    .hamburger-menu-icon {
        display: block;
        font-size: 40px;
        color: var(--dark-slate);
        position: fixed;
        top: 20px;
        right: 20px;
        cursor: pointer;
        z-index: 1001;
    }

    /* Dark mode styling for hamburger menu icon */
    .hamburger-menu-icon.dark-mode {
        color: #EEE;
    }

    /* Open state styling for the hamburger menu */
    .hamburger-menu.open {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #EEE;
        z-index: 1000;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /* Dark mode styling for the open hamburger menu */
    .dark .hamburger-menu.open {
        background-color: var(--dark-slate);
    }

    .hamburger-menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hamburger-menu ul li {
        width: 100%;
        margin: 20px 0;
        text-align: center;
    }

    .hamburger-menu ul li a {
        display: flex;
        align-items: center;
        color: var(--dark-slate);
        font-size: 18px;
        text-decoration: none;
        padding: 10px;
        width: 100%;
        justify-content: center;
        transition: background-color 0.3s;
    }

    /* Dark mode styling for links in the hamburger menu */
    .dark .hamburger-menu ul li a {
        color: #EEE;
    }

    /* Icon styling in the open hamburger menu */
    .hamburger-menu.open .icon {
        display: block;
        font-size: 25px;
        margin: 10px;
    }

    /* Moon and sun icon styling in the hamburger menu */
    .hamburger-menu .icon.moon-sun {
        color: var(--dark-slate);
        font-size: 35px;
        position: absolute;
        top: 20px;
        left: 20px;
    }

    .hamburger-menu .icon.moon-sun:hover{
        background-color: transparent;
    }

    /* Dark mode styling for moon and sun icons in the hamburger menu */
    .dark .hamburger-menu .icon.moon-sun {
        color: #EEE;
    }
}
