.info-card {
    position: fixed;
    top: 0;
    right: 0;
    max-width: var(--info-card-width);
    background-color: #eee;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    z-index: 1;
}
/* 
.info-card::before,
.info-card::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #ddd;
    border-radius: 50%;
}

.info-card::before {
    top: -20px;
    left: -20px;
    box-shadow: 20px 20px 0 0 #fff;
}

.info-card::after {
    top: -20px;
    right: -20px;
    box-shadow: -20px 20px 0 0 #fff;
} */

.info-card .project-image-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-card .project-image-box .project-image {
    width: 80px;
}

.info-card h2{
    text-align: center;
    font-size: var(--section-text);
}

.line-dashed {
    border-bottom: 1px dashed #00a9b8;
    margin-top: 10px;
    width: 100%;
}

.info-card p {
    font-size: var(--section-text);
    text-align: center;
    margin-bottom: 0px;
    padding: 0 12px;
}

a {
    color: #00a9b8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.dark .info-card {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

/* .dark .info-card::before,
.dark .info-card::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 50%;
}

.dark .info-card::before {
    top: -20px;
    left: -20px;
    box-shadow: 20px 20px 0 0 rgba(255, 255, 255, 0.1);
}


.dark .info-card::after {
    top: -20px;
    right: -20px;
    box-shadow: -20px 20px 0 0 rgba(255, 255, 255, 0.1);
}

.dark .container-lower::before,
.dark .container-lower::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #283C4D;
    border-radius: 50%;
} */

@media screen and (max-width: 800px) {
    .info-card h2,
    .info-card p{
        font-size: 12px;
    }

    .info-card .line-dashed{
        margin-top: 0;
    }
}

@media screen and (max-width: 400px) {
    .info-card{
        position: unset;
        height: unset;
        max-width: unset;
        padding: 12px;
        gap: 12px;
    }
}