form.post-form{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    gap: 20px;
    width: 60%;
    max-width: 600px;
    padding: 24px 0;
    background-color: var(--pure-white);
    transition: background-color 1s ease;

}

form.post-form input{
    color: var(--dark-slate);
    /* width: 90%; */
    padding: 10px;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--turquoise);
    font-size: var(--section-text);
}

.dark form.post-form{
    background-color: var(--dark-slate);
}

.dark form.post-form input{
    background-color: var(--dark-slate);
    color: var(--pure-white);
}

form.post-form .post-form-input-div{
    width: 90%;
    display: flex;
    justify-content : space-between;
    align-items: center;
    gap: 12px;
}

form.post-form .post-form-input-div label{
    padding: 10px;
    /* color: var(--turquoise); */
    font-size: var(--section-text);
    text-align: left;
}

form.post-form .post-form-input-div label span.required{
    color: var(--error-color);
}

.dark form.post-form .post-form-input-div label span.required{
    color: var(--dark-error-color);
}

form.post-form .post-form-input-div input{
    width: 65%;
}

form.post-form .post-form-input-div select{
    width : 65%;
    padding: 10px;
    font-size: var(--section-text);
    border: 1px solid var(--turquoise);
}

.dark form.post-form .post-form-input-div select{
    background-color: var(--slate-blue);
    color: white;
}

form.post-form .post-form-input-div .policy-confirm{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

form.post-form .post-form-input-div .policy-confirm input{
    width: unset;
    accent-color: var(--turquoise);
}

form.post-form .post-form-input-div span.disabled{
    width: 65%;
    color: var(--footer-text);
    cursor: not-allowed;
}

.post-not-active{
    font-size: var(--section-text);
    color: darkred;
    font-weight: bold;
    text-align: center;
}

.dark .post-not-active{
    color: #ff8181;
}

@media screen and (max-width: 800px) {
    form.post-form{
        width: 90%;
        max-width: unset;
    }
}