/* Footer container styles */
.footer {
    text-align: center;
    background-color: #fff;
    transition: background-color 0.5s ease;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

/* Dark mode styles */
.dark .footer{
   background-color: var(--dark-slate);
} 

/* Footer content layout */
.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    position: relative;
    top: 0;
    left: var(--sidebar-width);
    width: calc(100% - var(--sidebar-width));
    padding: 20px;
}

/* Logos container */
.footer-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

/* Ataseng logo styles */
.footer-logo {
    height: 72px;
}

/* Icons container */
.footer-icons {
    color: var(--dark-slate);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.footer-icons a{
    color: var(--footer-text);
    display: inline-flex;
}

.dark .footer-icons{
    color: var(--footer-text);
}

/* Individual icon styles */
.footer-icon {
    font-size: 24px;
    cursor: pointer;
}

/* Links container */
.footer-links {
    border: 1px solid var(--footer-text);
    margin: 0 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Link styles */
.footer-links a {
    margin: 5px 20px;
    color: var(--footer-text);
    text-decoration: none;
    font-size: 14px;
}

/* Dark mode link styles */
.footer-links.dark-mode a {
    color: #eee;
}

/* Link hover effect */
.footer-links a:hover {
    text-decoration: underline;
}

@media screen and (max-width:600px) {
    .footer-content {
        width: 100%;
        left: 0;
    }

    .footer-logo {
        height: 52px;
    }
}

@media screen and (max-width:400px) {
    .footer-logo {
        height: 40px;
    }

    .footer-icon {
        font-size: 16px;
    }

    .footer-logos{
        gap: 20px;
    }
}