.credits-section {
    margin: 0;
    background-color: #ddd;
}

.credits-section:nth-of-type(2n){
    background-color: #fff;
}

.credits-section .credits-content{
    min-height: 100vh;
    position: relative;
    top: 0;
    left: var(--sidebar-width);
    /* 240px => InfoCard */
    width: calc(100% - var(--sidebar-width) - 600px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
}

.credits-title {
    display: flex;
    flex-direction: column;
    background-color: #00A9B8;
    border-radius: 0 0 12px 12px;
    width: 100%;
    max-width: 180px;
    position: absolute;
    top: 0;
    left: 12px;
}

.credits-title .line-dashed {
    position: relative;    
    border-style: dashed;
    width: 100%;
    color: #fff;
    top: 30px;
} 

.credits-title h3 {
    color: white;
    padding: 8px;
    font-size: 1.1rem;
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 50px;
    text-transform: uppercase;
}
.dark .credits-section{
    background-color: #16222c;
}
.dark .credits-section:nth-of-type(2n){
    background-color: #283c4d;
}

.credits-section .credits-contributors{
    width: calc(100vw - var(--sidebar-width) - 240px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
}