.billboard-section{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.billboard-content {
    position: relative;
    top: 0;
    left: var(--sidebar-width);
    width: calc(100% - var(--sidebar-width));
    height: 100%;
    padding: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    transition: background-color 1s ease;
}

.dark .billboard-content{
    background-color: var(--dark-slate);
}

.billboard-content .billboard-title h2 {
    color: var(--turquoise);
    font-weight: 300;
    text-align: center;
    font-size: var(--section-title);
}

.billboard-description {
    font-size: var(--section-text);
    line-height: 2rem;
    text-align: center;
    word-spacing: 0.5rem;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark-slate);
    transition: color 1s ease;
}

.dark .billboard-description {
    color: #fff;
}
.billboard-description p {
    width: 70%;
    padding-bottom: 0 !important;
}

.billboard-visual {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    margin-top: 24px;
}

.top-line {
    display: flex;
    justify-content: center;
    align-items: center;
}


.top-right-line {
    width: 198px;
    height: 2px;
}
.top-left-line{
    width: 206px;
    height: 2px;
    background-color: var(--turquoise);
}
.top-center-line {
    z-index: 2;
    width: 200px;
    height: 2px;
    background-color: var(--turquoise);
}

.top-right-line {
    z-index: 3;
    background-color: var(--turquoise);
}

.hook-icon-left,
.hook-icon-right {
    transform: rotate(180deg);
    position: absolute;
    font-size: 40px;
    color: #000;
    transition: color 1s ease;
}

.dark .hook-icon-left,
.dark .hook-icon-right{
    color: #fff;
}

.hook-icon-left {
    left: 179px;
    z-index: 1;
    top: -8px;
}

.hook-icon-right {
    right: 179px;
    z-index: 2;
    top: -8px;
}

.first {
    margin-top: 10px;
}

.board {
    background-color: var(--turquoise);
    min-width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 5px;

    margin-right: 6px;
    color: #fff;

}

.divider-line {
    border-top: none;
    border-bottom: none;
    border-right: 2px solid #000;
    border-left: 2px solid #000;
    width: 34%;
    margin-right: 6px;
    height: 20px;
    transition: color 1s ease;
    transition: border-right 1s ease,border-left 1s ease;
}

.dark .divider-line{
    border-right: 2px solid #fff;
    border-left: 2px solid #fff;
}

.divider-line.disable
{
    display: none;
}

@media screen and (max-width: 800px) {
    .billboard-content .billboard-title h2{
        font-size: 32px;
    }
    .billboard-description{
        font-size: 16px;
    }

    .board{
        font-size: 14px;
    }

    .top-right-line {
        width: 100px;
    }
    .top-left-line{
        width: 108px;
    }
    .top-center-line {
        width: 102px;
    }
}

@media screen and (max-width: 600px) {
    .billboard-content{
        width: 100%;
        left: 0;
    }

    .billboard-description p{
        width: 75%;
        text-align: justify;
    }
}

@media screen and (max-width: 400px) {
    .billboard-content{
        gap: 12px;
    }
    .billboard-content .billboard-title h2{
        font-size: 28px;
    }
    .billboard-description{
        font-size: 14px;
    }

    .board{
        font-size: 12px;
        min-width: 180px;
    }

    .hook-icon-left {
        left: 206px;
    }
    
    .hook-icon-right {
        right: 206px;
    }

    .divider-line{
        width: 25%;
    }

    .top-right-line {
        width: 64px;
    }
    .top-left-line{
        width: 72px;
    }
    .top-center-line {
        width: 66px;
    }
}