.educator-image img {
    clip-path: polygon(0 0, 100% 0, 46% 100%, 0 100%);

    border-radius: 10px 0 0 10px;
}

.education-card-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
    margin-top: 16px;
}

.education-card-title {
    font-size: 16px;
    text-align: center;
    color: var(--turquoise);
}

.education-content,
.education-date,
.education-location {
    display: flex;
    align-items: center;
    margin-left: -30px;
}

.education-date span{
    letter-spacing: 2px;
}

.education-content h4,
.education-date h4,
.education-location h4 {
    font-size: 14px;
    flex-shrink: 0;
    min-width: 100px;
    color: var(--turquoise);
}

.education-content span,
.education-date span,
.education-last-date span,
.education-location span {
    font-size: 12px;
    transition: color 0.5s ease, color 0.5s ease;
}

.education-last-date {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    position: absolute;
    left: 164px;
    bottom: 8px;
    color: darkred;
}

.education-last-date h4 {
    font-size: 14px;
    min-width: 100px;
    transition: color 0.5s ease, color 0.5s ease;
}

.education-last-date span {
    letter-spacing: 2px;
    font-family: monospace;
    transition: color 0.5s ease, color 0.5s ease;
    font-style: italic;
    color: darkred;
}

.education-button {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.dark .education-content span,
.dark .education-date span,
.dark .education-location span {
    color: var(--light-gray);

}

.dark .education-last-date span {
    color: #ff8181;
}

.dark .education-last-date h4 {
    color: #ff8181;
}