.education-container{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   gap: 45px;
}
.education-card{
    width: 580px;
    height: 201px;
    background-color: var(--light-gray);
    border-radius: 5px;
    
    position: relative;
    transition: background-color 0.5s ease, color 0.5s ease; 
 
}
.education-card-wrap{
    display: flex;
    
}
.dark .education-card{
    background-color: var(--dark-slate);
}