.education-container{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   gap: 45px;
   padding: 25px;
}
.education-card{
    width: 580px;
    height: 201px;
    background-color: var(--light-gray);
    border-radius: 10px; 
    position: relative;
    transition: background-color 0.5s ease, color 0.5s ease; 
 
}
.education-card-wrap{
    display: flex;
    
}
.dark .education-card{
    background-color: var(--dark-slate);
}
.error-search{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--dark-slate);
    width: 700px;
    height: 400px;
    color: #7a7a7a;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.7);
    
}
.error-search h3{
    color: #fff;
    font-size: 35px;
    margin-bottom: 30px;
}