.filter-area{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 800px) {
    .filter-area{
        flex-direction: column;
        gap: 12px;
    }
}