.filter-not-found-area{
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: var(--section-text);
}

.filter-not-found-area p{
    color: var(--error-color);
}

.dark .filter-not-found-area p{
    color: var(--dark-error-color);
}