section.events{
    width: 100%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

section.events h2{
    color: var(--yinmn-blue);
    font-size: 2.5rem;
}

div.event-cards{
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 40px;
}