.feedback-section{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #fff;
}

.dark .feedback-section{
    background-color: var(--dark-slate);
}

.feedback-content {
    position: relative;
    top: 0;
    left: var(--sidebar-width);
    width: calc(100% - var(--sidebar-width));
    height: 100%;
    padding: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.feedback {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 45%;
}

.feedback .feedback-form{
    width: 100%;
}

.feedback-title h2 {
    font-size: var(--section-title);
    color: var(--turquoise);
    font-weight: 300;
}

.feedback .feedback-star {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    font-size: var(--feedback-star);
    color: var(--turquoise);
    margin-top: 20px;
    cursor: pointer;
}

.feedback-star span.active {
    color: gold;
}

.feedback-message {
    margin-top: 20px;
}

.feedback-message textarea{
    padding: 10px;
    width: 100%;
    border: 1px solid var(--turquoise);
    outline: none;
    border-radius: 5px;
    background-color: var(--light-gray);
    transition: background-color 1s ease;
    resize: none;
    font-size: var(--section-text);
}

.dark .feedback-message textarea{
    background-color: var(--dark-slate);
    color: var(--pure-white);
}

.feedback-submit-btn button{
    margin-top: 20px;
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: var(--turquoise);
    color: var(--pure-white);
    cursor: pointer;
    transition: background-color 1s ease,color 1s ease,border 1s ease;
    font-size: var(--section-text);
}

.feedback-submit-btn button:hover{
    background-color: var(--pure-white);
    border: 1px solid var(--turquoise);
    color: var(--dark-slate);
}

.dark .feedback-submit-btn button:hover{
    background-color: var(--slate-blue);
    color: var(--pure-white);
}

.text-side{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 45%;
}

.text-side .text-side-title h2{
    color: var(--turquoise);
    font-size: var(--section-title);
    font-weight: 300;
}

.text-side .text-side-description
{
    text-align: justify;
    margin-top: 20px;
    font-size: var(--section-text);
    line-height: 1.5rem;
    overflow-wrap: break-word; 
    transition: color 1s ease;
}

.dark .text-side .text-side-description{
    color: #fff;
}

.text-side .text-side-description p{
    padding-bottom: 0;
}

@media screen and (max-width:1200px) {
    .feedback-content{
        flex-direction: column;
        justify-content: space-around;
    }

    .feedback{
        width: 90%;
    }

    .text-side{
        width: 90%;
    }
}

@media screen and (max-width:800px) {
    .feedback-section .feedback-content{
        padding: 36px 0;
    }
    
    .feedback-submit-btn button{
        width: 100px;
        height: 32px;
    }
}


@media screen and (max-width:600px) {
    .feedback-content{
        width: 100%;
        left: 0;
    }

    .feedback .feedback-star{
        justify-content: center;
        margin-top: 0;
    }

    .feedback-submit-btn{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .feedback-message{
        margin-top: 8px;
    }

    .feedback-submit-btn button{
        margin-top: 8px;
    }

    .feedback-title h2{
        margin-bottom: 8px;
    }

    .feedback-submit-btn button{
        width: 100px;
        height: 32px;
    }
}


@media screen and (max-width:400px) {

    .text-side .text-side-title h2{
        margin-bottom: 4px;
    }

    .feedback-submit-btn button{
        width: 100px;
        height: 32px;
    }
}