.joinTeamForm {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    gap: 20px;
    width: 45%;
    max-width: 500px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10%;
}

.joinTeamForm input {
    width: 90%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #000;
    font-size: 1rem;
}

.joinTeamForm button {
    background-color: #00A9B8;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    max-width: 200px;
}

.joinTeamForm button:hover {
    background-color: #007c8a;
}
.dark .joinTeamForm{
    background-color: #283C4D;
}
.dark .joinTeamForm input {
    background-color: #283C4D;
    border-bottom: 1px solid #00A9B8;
    font-size: 1rem;
}
@media screen and (max-width: 768px) {
    .joinTeamForm {
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0; 
}
}
