form.join-team-form{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    gap: 20px;
    width: 60%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 24px 0;
    background-color: var(--pure-white);
}

form.join-team-form input{
    color: var(--dark-slate);
    /* width: 90%; */
    padding: 10px;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--turquoise);
    font-size: var(--section-text);
}

.dark form.join-team-form{
    background-color: var(--dark-slate);
}

.dark form.join-team-form input{
    background-color: var(--dark-slate);
    color: var(--pure-white);
}

form.join-team-form .join-team-form-input-div{
    width: 90%;
    display: flex;
    justify-content : space-between;
    gap: 12px;
}

form.join-team-form .join-team-form-input-div label{
    padding: 10px;
    /* color: var(--turquoise); */
    font-size: var(--section-text);
    text-align: left;
}

form.join-team-form .join-team-form-input-div input{
    width: 65%;
}

form.join-team-form .join-team-form-input-div select{
    width : 65%;
    padding: 10px;
    font-size: var(--section-text);
    border: 1px solid var(--turquoise);
}

.dark form.join-team-form .join-team-form-input-div select{
    background-color: var(--slate-blue);
    color: white;
}

@media screen and (max-width: 800px) {
    form.join-team-form{
        width: 90%;
        max-width: unset;
    }
}